<div class="footer-widget" data-sly-test="${properties.inlineMenu != 'true'}">
	<h3 class="title">${properties.title}</h3>
	<ul data-sly-list.nav="${properties.navList}">
		<sly data-sly-use.contentResource="${nav}/jcr:content" />
		<li><a href="${address}.html">${contentResource.jcr:title}</a>	</li>
	</ul>
	<div class="contact-info" data-sly-test="${properties.includeSocialIcons == 'true'}">
        ${properties.text @context='html'}
        <div class="social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="newsletter" data-sly-test="${properties.includeSubscribeForm == 'true'}">
        ${properties.text @context='html'}
        <form>
            <input class="form-control" type="email" placeholder="Your email here">
            <button class="btn">Submit</button>
        </form>
    </div>
</div>


<div class="footer-menu" data-sly-test="${properties.inlineMenu == 'true'}">
	<div class="container">
		<div class="f-menu" data-sly-list.nav="${properties.navList}">
			<sly data-sly-use.contentResource="${nav}/jcr:content" />
			<a href="${address}.html">${contentResource.jcr:title}</a>
		</div>
	</div>
</div>